<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> CASA Smart Power 2022 </title>
        <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/png" />
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script type="text/javascript">
            particlesJS.load(
                'particles-js',
                "{{ url_for('static', filename='particles.json') }}",
                function () {
                    console.log('particles.json has loaded');
                }
            );
        </script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </head>

    <body>
        <div id="particles-js"></div>
        <!-- NAV BAR -->
        <!-- TITLE and Subtitle-->
        <section>
            <div id="titleSection">
                <h4> CASA Smart Power 2022</h4>
                <h1> The Power Detector </h1> 
            </div>
        </section>
        <!-- About Project -->
        <section class="mainSection white" id="about">
            <div class="title" id="aboutTitle">
                <h1> What is the Smart Power Detector </h1>
            </div>
            <div class="content" id="aboutContent">
                <p> The Smart Power Detector is a Senior Design Project from the University of Texas at Austin, sponsored by Boeing. The project aims to use 
                    non-intrusive load monitoring (NILM) and machine learning models in order distinguish individual devices from an aggregate signal. The team collected data via an emonPi,
                    and used it both for training as well as testing purposes. Indivudual power profiles of devices were determined via the emonPi and used to train the macchine learning model.
                    Once the model was trained, real time data from the emonPi was fed to the machine learning model, to determine if the model could accurately determine which device was plugged in.
                    <!-- You can see a video of the demo here: -->
                </p>
                <div id="aboutSpacer"></div>
                <img src="{{ url_for('static', filename='img/graphic.png') }}" alt="Graphic" id="aboutImg">
            </div>
        </section>
        <!-- About Team + Link to Team Page -->
        <section class="mainSection black" id="team">
            <div class="title" id="teamTitle">
                <h1> Who are we? </h1>
            </div>
            <div class="content" id="teamContent">
                <p> We are a group of seniors from the University of Texas at Austin. This project was completed as a part of our Senior Design course, and was sponsored by the CASA team at Boeing. 
                    The team (from left to right): Travis Mongoven, Joseph Tombari, Santhosh Saravanan, Kevin Aguilar, Kai Cheu, Brent Zhuang, Pulkit Mahajan </p>
                <div id="aboutSpacer"></div>
                <img src="{{ url_for('static', filename='img/team.jpg') }}" alt="Graphic" id="aboutImg">
            </div>
        </section>
        <!-- Link to Demo + Demo Video -->
        <section class="mainSection white" id="team">
            <div class="title" id="teamTitle">
                <h1> Demo </h1>
            </div>
            <div class="content" id="demoContent">
                <a class="button" href="/demo" > CLICK TO SEE A REAL TIME DEMO </a>
            </div>
        </section>

    </body>

</html>